BODY
{
    margin: 0px;
    color: #000000;
    background-color: #ffffff;
}
TD, TH
{
    font-size: 0.7em;
    color: #333333;
    font-family: Verdana, helvetica, sans-serif;
}

P, UL, LI
{
    font: normal 1em/1.2em Verdana, Helvetica, sans-serif;
    color: #333333;
    background-color: transparent;
}

P.s, UL.s, LI.s
{
    font: normal 0.9em/1.1em Verdana, Helvetica, sans-serif;
    color: #333333;
    background-color: transparent;
}

.ftrtxt
{
    font: normal 0.9em Verdana, Helvetica, sans-serif;
    color: #405ebe;
    background-color: transparent;
    text-decoration: none;
}
.ftrtxt2
{
    font: normal 0.9em Verdana, Helvetica, sans-serif;
    color: #000000;
    background-color: transparent;
}

H1
{
    font: normal 1.5em/1.5em Verdana, helvetica, sans-serif;
    color: #D40019;
    background-color: transparent;
    text-decoration: none;
    padding: 6px 0px 0px 0px;
}

H2, P.H2
{
    font: bold 1.0em/1.0em Verdana, helvetica, sans-serif;
    color: #333333;
    background-color: transparent;
    text-decoration: none;
    padding: 6px 0px 6px 0px;
}
P.H2{padding: 0px 0px 0px 0px;}
H2.hi
{
    color: #405ebe;
    background-color: transparent;
    text-decoration: underline;
}
H2.g
{
    background-color: #ececec;
	padding: 4px 6px 4px 6px;
}

H2
{
    font: bold 0.9em/0.9em Verdana, helvetica, sans-serif;
    color: #333333;
    background-color: transparent;
    text-decoration: none;
    padding: 6px 0px 6px 0px;
}

TD.tbl
{
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 3px;
	padding-top: 3px;
}
TD.tblH
{
	padding: 6px 6px 6px 6px;
	font-weight:bold;
}
p.tblH
{
	padding: 6px 6px 6px 6px;
	font-weight:bold;
}
TR.c1
{
	background-color : #cadceb;
}
TR.c2
{
	background-color : #eaf1f7;
}

.divt
{
    padding: 0px;
 	border-top: 1px solid #cccccc;
}

.divb
{
    padding: 0px;
 	border-bottom: 1px solid #cccccc;
}

.divl
{
    padding: 0px;
 	border-left: 1px solid #cccccc;
}

.dotdiv
{
    padding: 0px;
    margin: 9px 0px 9px 0px;
	background-image : url(../images/dotdiv.gif);
}

SELECT
{
    font: normal 1.0em/1.0em Verdana, Helvetica, sans-serif;
    color: #000000;
    background-color: transparent;
	margin: 2px 0px 2px 0px;
}
SELECT.right
{
	text-align: right;
}

INPUT
{
    font: normal 1.0em/1.0em Verdana, Helvetica, sans-serif;
    color: #000000;
    background-color: transparent;
	margin: 2px 0px 2px 0px;
}
INPUT.right
{
	text-align: right;
}


INPUT.btn1
{
    font: bold 0.9em/1.1em Verdana, Helvetica, sans-serif;
	color: #ffffff;
	background: #366496;
	border-color: #CBE3FF #003366 #003366 #B7CFEB;
	width: auto;
	padding: 0px 4px 0px 4px;
}

INPUT.bodybtn
{
    font: normal 0.9em Verdana, Helvetica, sans-serif;
	color: #ffffff;
	background: #366496;
	border-style: groove;
	border-width: 2px;
	border-color: #96abc0 #001a33 #001a33 #96abc0;
	width: auto;
	padding: 0px 4px 0px 4px;
}
INPUT.navbtn
{
    font: normal 0.9em/1.1em Verdana, Helvetica, sans-serif;
	color: #ffffff;
	background: #366496;
	border-style: groove;
	border-width: 2px;
	border-color: #96abc0 #001a33 #001a33 #96abc0;
	width: 100px;
	padding: 0px 4px 0px 4px;
}
A
{
    font: bold 0.9em/2.1em Verdana, Helvetica, sans-serif;
    color: #333333;
    background-color: transparent;
    text-decoration: none;
}
A:visited
{
    font: bold 0.9em/2.1em Verdana, Helvetica, sans-serif;
    color: #333333;
    background-color: transparent;
    text-decoration: none;
}
A:hover
{
    font: bold 0.9em/2.1em Verdana, Helvetica, sans-serif;
    color: #be5a33;
    background-color: transparent;
    text-decoration: none;
}
A.nv
{
    font: normal 1em/1.2em Verdana, Helvetica, sans-serif;
    color: #000000;
    background-color: transparent;
    text-decoration: none;
}
A.nv:visited
{
    font: normal 1em/1.2em Verdana, Helvetica, sans-serif;
    color: #000000;
    background-color: transparent;
    text-decoration: none;
}
A.nv:hover
{
    font: normal 1em/1.2em Verdana, Helvetica, sans-serif;
    color: #000080;
    background-color: transparent;
    text-decoration: underline;
}
A.p
{
    font: normal 1em/1.2em Verdana, Helvetica, sans-serif;
    color: #405ebe;
    background-color: transparent;
    text-decoration: none;
}
A.p:visited
{
    font: normal 1em/1.2em Verdana, Helvetica, sans-serif;
    color: #405ebe;
    background-color: transparent;
    text-decoration: none;
}
A.p:hover
{
    font: normal 1em/1.2em Verdana, Helvetica, sans-serif;
    color: #be5a33;
    background-color: transparent;
    text-decoration: underline;
}

A.left
{
    font: normal 1.2em/1.2em Arial, Helvetica, sans-serif;
    color: #405ebe;
    background-color: transparent;
    text-decoration: none;
}
A.left:visited
{
    font: normal 1.2em/1.2em Arial, Helvetica, sans-serif;
    color: #405ebe;
    background-color: transparent;
    text-decoration: none;
}
A.left:hover
{
    font: normal 1.2em/1.2em Arial, Helvetica, sans-serif;
    color: #be5a33;
    background-color: transparent;
    text-decoration: underline;
}

A.left2
{
    font: bold 1.0em/1.0em Verdana, helvetica, sans-serif;
    color: #003366;
    background-color: transparent;
    text-decoration: none;
}
A.left2:visited
{
    font: bold 1.0em/1.0em Verdana, helvetica, sans-serif;
    color: #003366;
    background-color: transparent;
    text-decoration: none;
}
A.left2:hover
{
    font: bold 1.0em/1.0em Verdana, helvetica, sans-serif;
    color: #be5a33;
    background-color: transparent;
    text-decoration: underline;
}

A.sbtxt
{
    font: normal 0.9em/1.2em Verdana, Helvetica, sans-serif;
    color: #333333;
    background-color: transparent;
    text-decoration: none;
}
A.sbtxt:visited
{
    font: normal 0.9em/1.2em Verdana, Helvetica, sans-serif;
    color: #333333;
    background-color: transparent;
    text-decoration: none;
}
A.sbtxt:hover
{
    font: normal 0.9em/1.2em Verdana, Helvetica, sans-serif;
    color: #be5a33;
    background-color: transparent;
    text-decoration: none;
}

A.sblnk
{
    font: normal 1em Verdana, Helvetica, sans-serif;
    color: #405ebe;
    background-color: transparent;
    text-decoration: underline;
}
A.sblnk:visited
{
    font: normal 1em Verdana, Helvetica, sans-serif;
    color: #405ebe;
    background-color: transparent;
    text-decoration: underline;
}
A.sblnk:hover
{
    font: normal 1em Verdana, Helvetica, sans-serif;
    color: #0000ee;
    background-color: transparent;
    text-decoration: underline;
}

A.ftrlnk
{
    font: normal 0.9em Verdana, Helvetica, sans-serif;
    color: #405ebe;
    background-color: transparent;
    text-decoration: none;
}
A.ftrlnk:visited
{
    font: normal 0.9em Verdana, Helvetica, sans-serif;
    color: #405ebe;
    background-color: transparent;
    text-decoration: none;
}
A.ftrlnk:hover
{
    font: normal 0.9em Verdana, Helvetica, sans-serif;
    color: #0000ee;
    background-color: transparent;
    text-decoration: none;
}

.mh-link1, .mh-link2 {
    font: bold 0.9em/0.9em Verdana, Helvetica, sans-serif; color: #666666; text-decoration: none; display: inline;}
.mh-link2 {font: bold 0.9em/0.9em Verdana, Helvetica, sans-serif; color: #D4001A;}
.mh-link1:hover {font: bold 0.9em/0.9em Verdana, Helvetica, sans-serif; color: #5C94D0;}
.mh-link2:hover {font: bold 0.9em/0.9em Verdana, Helvetica, sans-serif; color: #AA051A;}
.mh-hline {background-color: #ECECEC; background-image: url(../images/mhd_reg_5x1_lines.gif); background-repeat: repeat-x;}
.mh-vline {background-color: #ECECEC; background-image: url(../images/mhd_reg_1x5_lines.gif); background-repeat: repeat-y;}
.mh-hline-bkg {background: #ECECEC;}
.ada-search {color: #ececec; background: #ececec; font: normal 0.1em/0.01em Verdana, Helvetica, sans-serif; margin: 0px;}
a.btn1 {font: bold 0.9em/120% Verdana, Helvetica, sans-serif; color: #ffffff; background: #366496; border: 1px solid; border-color: #CBE3FF #003366 #003366 #B7CFEB; padding: 1px 4px 1px 4px; text-decoration: none; width: auto;}
a.btn1:hover,a.btn1-over {font: bold 0.9em/120% Verdana, Helvetica, sans-serif; color: #C7D2DC; background: #366496; border: 1px solid; border-color: #CBE3FF #003366 #003366 #B7CFEB; padding: 1px 4px 1px 4px; text-decoration: none; width: auto;}
div.btn1 {border-right: 1px solid #000000;	border-bottom: 1px solid #000000; border-top:1px solid #CBE3FF; border-left:1px solid #B7CFEB;}
.searchbox {font-size: 1.6ex; border-style: inset; border-bottom: none; width: 17.5em;}
.linksep1 {	font-size: 0.5em; color: #666666; border: 0px; margin: 0px;}

.auraltext {font-size: 0px; left: -10000px; position: absolute;} 
.show-tab {font: normal 0.8em Verdana, Helvetica, sans-serif; border: none; left: 0px; position: relative; } 
