/* CSS Document */
p
{
   	font-family: Verdana, Geneva, Helvetica;
	font-size: 1.0em;
	LINE-HEIGHT: 1.35em;
	color: #383838; 
}

.p_bold
{
    font-family: Verdana, Geneva, Helvetica;
	font-size: 0.7em;
	LINE-HEIGHT: 1.4em;
	color: #383838;
	font-weight:bold;
}
.p_normal
{
    font-family: Verdana, Geneva, Helvetica;
	font-size: 1.0em;
	line-height: 1.25em;
}
.p_normal a
{
    font-family: Verdana, Geneva, Helvetica;
	font-size: 1.0em;
	text-decoration:none;
	line-height: 1.25em;
}
.p_normal a:hover
{
    font-family: Verdana, Geneva, Helvetica;
	font-size: 1.0em;
	text-decoration:none;
	line-height: 1.25em;
	outline:dotted 1px #000 !important;
}

/*included to remove the dotted border while link selection */




.h21{ font-family : Verdana, Helvetica, sans-serif;
	font-size : 1.0em;
	line-height : 1.0em;
	font-weight : bold;
    color: #333333;
    background-color: transparent;
    text-decoration: none;
    padding: 0px 0px 0px 0px;  }






.text_bold
{
    font-family: Verdana, Geneva, Helvetica;
	font-size: 1.0em;
	LINE-HEIGHT: 1.4em;
	color: #383838;
	font-weight:bold;
}
.text_bold_under
{
    font-family: Verdana, Geneva, Helvetica;
	font-size: 1.0em;
	LINE-HEIGHT: 1.4em;
	color: #383838;
	font-weight:bold;
	text-decoration:underline;
}
.sbtxt
{
	font-family : Verdana, Helvetica, sans-serif;
	font-size : 0.9em;
	line-height : 1.2em;
	font-weight : normal;
    color: #333333;
    text-decoration: none;
}
.sbtxt a 
{
	font-family : Verdana, Helvetica, sans-serif;
	font-size : 0.9em;
	line-height : 1.2em;
	font-weight : normal;
    color: #333333;
    text-decoration: none;
}
.sbtxt a:hover
{
	font-family : Verdana, Helvetica, sans-serif;
	font-size : 0.9em;
	line-height : 1.2em;
	font-weight : normal;
    color: #333333;
    text-decoration: none;
    outline:dotted 1px #000 !important;
}

.headtext {
	font-family: Arial, Tahoma, Verdana, Geneva, Helvetica;
	font-size: 11px;
	text-decoration: none;
	padding: 0px 0 0 16px;
	color: #764008;
}
.dot {
	font-family: Arial, Tahoma, Verdana, Geneva, Helvetica;
	font-size: 1px;
	text-decoration: none;
	color: #ffffff;
}

.bodytext {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 1.0em;
	LINE-HEIGHT: 1.4em;
	color: #383838;
}

.footerdowntext{
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10px;

	color: #000000;
}

.boldtext {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 0.7em;
	padding-left:6px;
	font-weight:bold;
	color: #333333;
}

.boldtextmain {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10px;
	font-weight:bold;
	color: #333333;
}

.innertext {
	font-family: Arial, Tahoma, Verdana, Geneva, Helvetica;
	font-size: 11px;
	text-decoration: none;
	padding: 0px 0 0 17px;
	color: #774108;
}

	
.footertext {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10px;
	font-weight:none;
	text-decoration: none;
	color: #4f68c5;
}
	
.footertxtbig {
	font-family:Arial, Tahoma, Verdana, Geneva, Helvetica;
	font-size:10px;
	color:#024263;
	font-weight:none;
	text-decoration:none;
	}
	
.headertext{
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10px;
	font-weight:bold;
	text-decoration: none;
	color: #666666;
}
	
	
	
	
.jobdesctitle{font-family: Verdana, Geneva, Helvetica;
	font-size: 16px;
	font-weight:bold;
	text-decoration: none;
	color: #cc0000;}	


.headerlinks:link {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10px;
	text-decoration: none;
	color: #666666;
}
.headerlinks:visited {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10px;
	text-decoration: none;
	color: #666666;
}
.headerlinks:hover {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10px;
	text-decoration: none;
	color: #5c94d0;
	outline:dotted 1px #000 !important;
}
.headerlinks:active {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10px;
	text-decoration: none;
	color: #666666;
}

.footerlinks:link {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10px;
	
	text-decoration: none;
	color: #4f68c5;
}
.footerlinks:visited {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10px;

	text-decoration: none;
	color: #4f68c5;
}
.footerlinks:hover {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10px;

	text-decoration: none;
	color: #333366;
	outline:dotted 1px #000 !important;
}
.footerlinks:active {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10px;
	
	text-decoration: none;
	color: #4f68c5;
}
.headerred:link {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10px;
	font-weight:bold;
	text-decoration: none;
	color: #d4001a;
}
.headerred:visited {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10px;
	font-weight:bold;
	text-decoration: none;
	color: #d4001a;
}
.headerred:hover {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10px;
	font-weight:bold;
	text-decoration: none;
	color: #aa051a;
	outline:dotted 1px #000 !important;
}
.headerred:active {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10px;
	font-weight:bold;
	text-decoration: none;
	color: #d4001a;
}
	
.ritnavlinkswithoutlink	{
	font-family : Verdana, Helvetica, sans-serif;
	font-size : 1.4em;
	font-weight : bold;
    color: #405EBE;
    background-color: transparent;
    text-decoration: none;}
	
	

.ritnavlinks:link {
	font-family : Verdana, Helvetica, sans-serif;
	font-size : 1.0em;
	font-weight : bold;
    color: #405EBE;
    background-color: transparent;
    text-decoration: underline;
}
.ritnavlinks:visited {
	font-family : Verdana, Helvetica, sans-serif;
	font-size : 1.0em;
	font-weight : bold;
    color: #651C7E;
    background-color: transparent;
    text-decoration: underline;
}
.ritnavlinks:hover, .ritnavlinks-over {
		font-family : Verdana, Helvetica, sans-serif;
	font-size : 1.0em;
	font-weight : bold;
    color: #0000FF;
    background-color: transparent;
    text-decoration: underline;
    outline:dotted 1px #000 !important;
}
.ritnavlinks:active {
	font-family : Verdana, Helvetica, sans-serif;
	font-size : 11.4px;
	font-weight : bold;
    color: #405EBE;
    background-color: transparent;
    text-decoration: underline;
    outline:dotted 1px #000 !important;
}

.input193 {

	width:193px;
	height:19px;
	background-color:#FFFFFF;
	border-left: 1px solid #404040 2px groove; margin: 0px;
	border-top: 1px solid #404040 2px groove; margin: 0px;
	border-right: 1px solid #d4d0c8 ;
	border-bottom: 1px solid #d4d0c8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:1.0em;
	color:#000000;
	font-weight:normal;
	text-decoration:none;
	}
	
	.input350 {
	width:330px;
	height:19px;
	background-color:#FFFFFF;
	border-left: 1px solid #404040 2px groove; margin: 0px;
	border-top: 1px solid #404040 2px groove; margin: 0px;
	border-right: 1px solid #d4d0c8 ;
	border-bottom: 1px solid #d4d0c8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:1.0em;
	color:#000000;
	font-weight:normal;
	text-decoration:none;
	}
	
	.input173 {
	width:173px;
	height:18px;
	background-color:#FFFFFF;
	border-left: 1px solid #404040 2px groove; margin: 0px;
	border-top: 1px solid #404040 2px groove; margin: 0px;
	border-right: 1px solid #d4d0c8 ;
	border-bottom: 1px solid #d4d0c8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11.0em;
	color:#000000;
	font-weight:normal;
	text-decoration:none;
	}
	
INPUT.btn {BORDER-RIGHT: #003873 2px groove; BORDER-TOP: #cae4ff 2px groove; MARGIN: 0px; FONT: bold 9.5px Verdana, Helvetica, sans-serif; BORDER-LEFT: #cae4ff 2px groove; WIDTH: auto; COLOR: #ffffff; BORDER-BOTTOM: #003c73 2px groove; BACKGROUND-COLOR: #376394; height:20 px; width:60px;}

INPUT.btn1 {BORDER-RIGHT: #003873 2px groove; BORDER-TOP: #cae4ff 2px groove; MARGIN: 0px; FONT: bold 9.5px Verdana, Helvetica, sans-serif; BORDER-LEFT: #cae4ff 2px groove; WIDTH: 77px; COLOR: #ffffff; BORDER-BOTTOM: #003c73 2px groove; BACKGROUND-COLOR: #376394; height:17 px; width:77px;}

INPUT.btn2 {BORDER-RIGHT: #003873 2px groove; BORDER-TOP: #cae4ff 2px groove; MARGIN: 0px; FONT: bold 9.5px Verdana, Helvetica, sans-serif; BORDER-LEFT: #cae4ff 2px groove; WIDTH: 77px; COLOR: #ffffff; BORDER-BOTTOM: #003c73 2px groove; BACKGROUND-COLOR: #376394; height:18 px; width:83px;}

.hidden {
	FONT-WEIGHT: normal; FONT-SIZE: 0.8em; LEFT: 0px; COLOR: #405ebe; LINE-HEIGHT: 1em; FONT-FAMILY: Verdana, Helvetica, sans-serif; POSITION: relative; TOP: 0px
}

SPAN.hidden {
	FONT-SIZE: 0px; LEFT: -10000px; POSITION: absolute; TOP: -10000px
}

.innertextlink	 a:link{color:#000000;font-size: 12px;
		font-family:tahoma MS; text-decoration:none }
.innertextlink	  a:visited{color:#000000;font-size: 12px;
		font-family:tahoma MS;text-decoration:none  }
.innertextlink	 a:hover{color:#000000;font-size: 12px;
		font-family:tahoma MS;text-decoration:none; outline:dotted 1px #000 !important;  }
.innertextlink	  a:active{ color:#000000;font-size: 12px;
		font-family:tahoma MS;text-decoration:none
		 } 

.leftnav:link {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10.5px;
	font-weight:bold;
	text-decoration: none;
	color: #363533;
}
.leftnav:visited {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10.5px;
	font-weight:bold;
	text-decoration: none;
	color: #363533;
}
.leftnav:hover {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10.5px;
	font-weight:bold;
	text-decoration: none;
	color: #be5a33;
	outline:dotted 1px #000 !important;
}
.leftnav:active {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10.5px;
	font-weight:bold;
	text-decoration: none;
	color: #363533;
}

.leftnavregular:link {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10.5px;
	text-decoration: none;
	color: #363533;
}
.leftnavregular:visited {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10.5px;
	text-decoration: none;
	color: #363533;
}
.leftnavregular:hover {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10.5px;
	text-decoration: none;
	color: #be5a33;
	outline:dotted 1px #000 !important;
}
.leftnavregular:active {
	font-family: Verdana, Geneva, Helvetica;
	font-size: 10.5px;
	text-decoration: none;
	color: #363533;
}

H1, H2.h1

{

	font-family : Verdana, Helvetica, sans-serif;

	font-size : 1.5em;

	line-height : 1.5em;

	font-weight : normal;

    color: #D40019;

    background-color: transparent;

    text-decoration: none;

    padding: 6px 0px 0px 0px;

}
.ada-search {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ececec; VISIBILITY: hidden; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 0em/0em Verdana, Helvetica, sans-serif; COLOR: #ececec; PADDING-TOP: 0px
}

.searchbox {
	FONT-SIZE: 1.6ex; MARGIN: 0px; WIDTH: 100%; BORDER-TOP-STYLE: inset; BORDER-BOTTOM: medium none; BORDER-RIGHT-STYLE: inset; BORDER-LEFT-STYLE: inset
}

.bluetext {
FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #3677b1; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;
}
.bluetext:hover {
FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; outline:dotted 1px #000 !important;
}

.blueboldtext {
FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #3677b1; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; font-weight:bold;
}
.blueboldtext:hover {
FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline ;font-weight:bold; outline:dotted 1px #000 !important;
}
.applylinks:link {
background-image: url(images/applybutton.gif);
background-position: left top;
background-repeat:no-repeat;
position:absolute;

}

.h3font{
font-family : Verdana, Helvetica, sans-serif;

	font-size : 1.0em;

	line-height : 1.3em;

	font-weight : bold;

    color: #000000;

    background-color: transparent;

    text-decoration: none;

    padding: 6px 0px 0px 0px;}




.applylinks:visited {
background-image: url(images/applybutton.gif);
background-position: left top;
background-repeat:no-repeat;
position:absolute;

}
.applylinks:hover {
background-image: url(images/applybutton_hvr.gif);
background-position: left top;
background-repeat:no-repeat;
position:absolute;
outline:dotted 1px #000 !important;

}
.applylinks:active {
background-image: url(images/applybutton.gif);
background-position: left top;
background-repeat:no-repeat;
position:absolute;

}

.grid:link {
font-family : Verdana, Helvetica, sans-serif;
font-size : 10.5px;
font-weight : bold;
color: #405EBE;
background-color: transparent;
}
.grid:visited {
font-family : Verdana, Helvetica, sans-serif;
font-size : 10.5px;
font-weight : bold;
color: #651C7E;
background-color: transparent;
}
.grid:hover {
font-family : Verdana, Helvetica, sans-serif;
font-size : 10.5px;
font-weight : bold;
color: #0000FF;
background-color: transparent;
outline:dotted 1px #000 !important;
}
.grid:active {
font-family : Verdana, Helvetica, sans-serif;
font-size : 10.5px;
font-weight : bold;
color: #405EBE;
background-color: transparent;
}

A.left11:link
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
    color: #405EBE;
    text-decoration: underline;
}
A.left11:visited
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
    color: #405EBE;
    text-decoration: underline;
}
A.left11:hover
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	
	font-weight : bold;
    color: #0000FF;
    text-decoration: underline;
    outline:dotted 1px #000 !important;
}
A.left11:Active
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
    color: #405EBE;
    text-decoration: underline;
}

a.ie-btn1, a.ie-btn1-over { font-weight: bold; color: #ffffff; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; background: #366496;border-right: 2px solid #000000; border-bottom: 2px solid #000000; border-top: 2px solid #CBE3FF; border-left: 2px solid #B7CFEB; width: auto; padding: 2px 4px 2px 4px; text-align:center;}
a.ie-btn1, a.ie-btn1-over {font-size: 0.77em; text-decoration: none; line-height: 120%; }
a.ie-btn1:hover, a.ie-btn1-over {color: #C7D2DC;}


.bodytext1
{   
    font-family: Verdana, Geneva, Helvetica;
	font-size: 1.0em;
	LINE-HEIGHT: 1.4em;
	color: #383838; 
}

.nolink, .nolink a, .nolink a:hover, .nolink a:visited,.nolink a:active
{
	font-family: Verdana, Geneva, Helvetica;
	color: #383838; 
	text-decoration:none ;
}
