
div.ev-wrap-tl
{
	background: url(/images/layout/ev-tl.gif) no-repeat top left;
	padding: 0px;
}
div.ev-wrap-tr
{
	background: url(/images/layout/ev-tr.gif) no-repeat top right;
	padding: 0px;
}
div.ev-wrap-bl
{
	background: url(/images/layout/ev-bl.gif) no-repeat bottom left;
	padding: 0px;
}
div.ev-wrap-br
{
	background: url(/images/layout/ev-br.gif) no-repeat bottom right;
	padding: 12px 6px 12px 6px;
}
p.event
{
	width: 100%;
	margin-top: 18px;
	font-weight: bold;
	font-style: italic;
}
table.event
{
	width: 100%;
	margin-top: 18px;
}
table.event td,
table.event th
{
	padding: 3px 6px 3px 6px;
	color: #333333;
	font-weight: normal;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 70%;
	line-height: 1.2em;
}
table.event td
{
	border-bottom: 1px solid #c6c6c6;
	padding-top: 18px;
	padding-bottom: 15px;
	vertical-align: top;
}
table.event th
{
	padding-top: 15px;
	text-align: left;
}
table.event th:first-child
{
	padding-left: 6px;
	text-align: left;
}
table.event div.ev-date
{
	margin: 0px 0px 6px 0px;
	float: left;
	text-align: center;
}
table.event div.ev-state
{
    font-family: Verdana, Helvetica, sans-serif;
}
table.event div.ev-title
{
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: bold;
	margin-bottom: 6px;
}
table.event div.ev-body
{
	font-family: Verdana, Helvetica, sans-serif;
	white-space: normal;
	min-width: 250px;
	max-width: 300px;
	/*white-space: -moz-pre-wrap !important;*/ /* Mozilla, since 1999 */
	/*white-space: -pre-wrap;*/ /* Opera 4-6 */
	/*white-space: -o-pre-wrap;*/ /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	overflow: hidden; /* for IE */
	width: 250px; /* for IE */
}
table.event div.order
{
	display: inline;
	margin-left: 6px;
}
table.event div.arrDn
{
	background: url(/images/layout/dn-arrow.gif) no-repeat center left;
}
table.event div.arrUp
{
	background: url(/images/layout/up-arrow.gif) no-repeat center left;
}

table.event a.ev-p,
table.event a.ev-p:visited,
table.event a.ev-p:active,
table.event a.ev-p:hover,
table.event a.ev-p-over
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.2em;
    font-weight: normal;
    color: #405EBE;
    text-decoration: none;
}
table.event a.ev-p:hover,
table.event a.ev-p-over
{
    color: #0000FF;
    text-decoration: underline;
    /*outline: none !important;*/
}
table.event a.ev-p:visited
{
    color: #651C7E;
    text-decoration: none;
}

table.event a.ev-b,
table.event a.ev-b:visited,
table.event a.ev-b:active,
table.event a.ev-b:hover,
table.event a.ev-b-over,
table.event p.ev-b
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.0em;
    font-weight: bold;
    color: #405EBE;
    text-decoration: none;
}
table.event a.ev-b:hover,
table.event a.ev-b-over
{
    color: #0000FF;
    text-decoration: underline;
    /*outline: none !important;*/
}
table.event a.ev-b:visited
{
    color: #651C7E;
    text-decoration: none;
}

table.event td.event-paging
{
	background: url(/images/layout/ev-paging-top.gif) repeat-x top;
	padding: 0px;
	border-bottom: none;
}
table.event tr.ev-last td
{
	border-bottom: none;
}
table.event-paging
{
	background: url(/images/layout/ev-paging-bottom.gif) repeat-x bottom;
}
table.event-paging td
{
	border-bottom: none;
	padding: 3px 6px 3px 6px;
}
table.event-paging div.page-num,
table.event-paging div.rec-num,
table.event-paging div.right-num
{
	display: inline;
	font-size: 11px;
	line-height: 12px;
	font-weight: bold;
	padding: 0px 4px 0px 4px;
	margin: 0px 6px 0px 0px;
}
table.event-paging div.left-num,
table.event-paging div.right-num
{
	color: #405EBE;
	display: inline;
	font-size: 11px;
	line-height: 12px;
	font-weight: bold;
	padding: 0px 4px 0px 4px;
	margin: 0px 6px 0px 0px;
	cursor: pointer;
}
table.event-paging div.rec-num,
table.event-paging div.right-num
{
	margin: 0px 0px 0px 6px;
}
table.event-paging div.left-num span,
table.event-paging div.right-num span
{
	font-size: 8px;
}
table.event .hidden
{
    font-size: 0.0em;
    line-height: 0.0em;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: -10000px;
    top: -10000px; /*visibility: hidden;*/
    width: 1px;
    height: 1px;
    overflow: hidden;
}
