<?xml version="1.0" encoding="UTF-8"?>
<tt>
	<head>
		<styling>
		</styling>
	</head>
	<body>
		<div xml:lang="en">
<p begin="12">Our world is constantly changing, 
</p>
<p begin="17">shifting and moving at an unprecedented pace. 
</p>
<p begin="24">We live in a global society where ideas, cultures and individuals connect and come together to talk, to interact and to build opportunity.
</p>
<p begin="38">At Bank of America, we embrace viewpoints that carry across time zones - that make us more competitive in a global marketplace. 
</p>
<p begin="49">We understand that diversity isn't only about traditional categories like race or gender. 
</p>
<p begin="57">It goes beyond into sexual orientation, disability, experience and cultures.
</p>
<p begin="68">By sharing fresh perspectives we grow and build a better place to work - an environment where all employees are empowered to excel. 
</p>
<p begin="79">It's about giving all of us, individually and together, the best chance to succeed. 
</p>
<p begin="87">It is also about strengthening the communities we serve through philanthropy, community development, support of the arts and volunteerism. 
</p>
<p begin="103">From meeting the needs of underserved communities to supporting workforce development, we celebrate the ties that connect us all. 
</p>
<p begin="115">This philosophy expands to working with diverse suppliers. Over the past ten years, we have spent more than Ten Billion dollars working with diverse businesses to provide key services to the bank. 
</p>
<p begin="129">We know that by promoting a better economic environment, these organizations will continue to thrive and grow stronger. 
</p>
<p begin="136">It is about being inclusive, not exclusive in everything we do. 
</p>
<p begin="142">Employees work in local neighborhoods and in major cities setting opportunity in motion every day for customers and clients.  
</p>
<p begin="151">It is critical that we meet our diverse and unique customer needs - providing products and services that make a positive difference in their lives. 
</p>
<p begin="161">At Bank of America diversity and inclusion is teamwork and globally focused.  It's the core to who we are and where we are going. 
</p>
<p begin="171">Bank of America - creating opportunity, making a difference with employees, customers and clients, and in the communities we serve. 
</p>
<p begin="182" end="186">Visit bankofamerica.com/diversity to learn more.

</p>
			

		</div>    
	</body>
</tt>