#mdtrans .mdv-close
{
	margin-top: 0px;
}
#mdtrans .mdv-content
{
	width: 688px;
	padding: 12px;
}
table.event a.ev-b,
table.event a.ev-b:visited,
table.event a.ev-b:active,
table.event a.ev-b:hover,
table.event a.ev-p,
table.event a.ev-p:visited,
table.event a.ev-p:active,
table.event a.ev-p:hover
{
	border: solid 1px transparent !important;
}
table.event a.ev-b-over,
table.event a.ev-p-over
{
	border: dotted 1px #000 !important;
}
span.ascent
{
	font-size: 1.0em;
}
span.ascent a,
span.ascent a:link,
span.ascent a:active,
span.ascent a:hover,
span.ascent a:visited,
span.ascent a.p,
span.ascent a.p:link,
span.ascent a.p:active,
span.ascent a.p:hover,
span.ascent a.p:visited
{
	font-size: 0.8em;
}
.footnote span.ascent
{
	font-size: 1.0em;
}