BODY
{
    margin: 0px;
    color: #000000;
    background-color: #ffffff;
}
TD, TH
{
    font-size: 70%;
    color: #333333;
    font-family: Verdana, helvetica, sans-serif;
}

P, UL, LI, H1.p, H2.p, H3.p, H3.pb, LABEL.p
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.4em; /*1.2em;*/
    font-weight: normal;
    color: #333333;
    background-color: transparent;
}

H1.p
{
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

OL LI
{
    padding-bottom: 6px;
}

UL
{
    list-style-image: url(../images/bull3.gif);
}
#lnav UL
{
    list-style-image: none;
}

UL.secondary
{
    list-style-image: url(../images/bull3o.gif);
}
UL.nobullet
{
    list-style-image: none;
    list-style-type: none;
}
UL.nobullet li
{
	padding-bottom: 12px;
}

P.s, UL.s, LI.s, span.s
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 1.2em; /*1.1em;*/
    font-weight: normal;
    color: #333333;
    background-color: transparent;
}

DIV.transcript, DIV.ptranscript
{
    border: 1px solid #cecece;
    background: #dedede;
    margin: 0px 0px 6px 0px;
    padding: 0px 6px 6px 6px;
}
DIV.ptranscript
{
    margin: 12px 0px 6px 0px;
}
DIV.transcript p, DIV.ptranscript p
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: normal;
    color: #333333;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

label
{
    font-weight: bold;
}


.ftrtxt
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 1.2em; /*1.1em;*/
    font-weight: normal;
    color: #405ebe;
    background-color: transparent;
    text-decoration: none;
}
.ftrtxt2
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 1.2em; /*1.1em;*/
    font-weight: normal;
    color: #000000;
    background-color: transparent;
}

H1, H2.h1
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: normal;
    color: #D40019;
    background-color: transparent;
    text-decoration: none;
    padding: 6px 0px 0px 0px;
}

H1.rjp
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    color: #505153;
    background-color: #d3d5d6;
    text-decoration: none;
    padding: 2px 12px 0px 12px;
    margin: 0px;
}

H2.h1 span
{
    font-size: 0.65em;
    font-weight: bold;
    line-height: 1.0em;
}

H2.h1 span.loc
{
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.0em;
    text-align: center;
    width: 205px;
}

H2, H2.h2, H2.h2u, P.h2
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.0em;
    font-weight: bold;
    color: #333333;
    background-color: transparent;
    text-decoration: none;
    padding: 6px 0px 6px 0px;
}
H2.h2u
{
    text-decoration: underline;
}
H2.rjp
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.2em;
    margin-top: 0px;
    padding-top: 0px;
}
P.H2
{
    padding: 0px 0px 0px 0px;
}
H2.hi
{
    color: #405ebe;
    background-color: transparent;
    text-decoration: underline;
}
H2.g, H2.gc
{
    background-color: #e8e8e9;
    padding: 4px 4px 6px 4px;
}
H2.g
{
    font-size: 0.9em;
}

H2
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.4em;
    font-weight: bold;
    color: #333333;

}

H1.cc
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 13pt;
    line-height: 13pt;
    font-weight: bold;
    color: #d4001a;
    background-color: transparent;
    text-decoration: none;
    padding: 6px 0px 6px 0px;
}

H1.cft
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.3em;
    line-height: 1.3em;
    font-weight: normal;
    color: #333333;
    background-color: transparent;
    text-decoration: none;
    padding: 6px 0px 6px 0px;
}
H2.cft, H2.cfth
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.7em;
    font-weight: bold;
    color: #d4001a;
    background-color: transparent;
    text-decoration: none;
    padding: 0px;
}
H2.cfth
{
    font-size: 1.3em;
    font-weight: normal;
    color: #333333;
}
P.cft
{
    font-size: 1.1em;
    line-height: 1.7em;
    color: #333333;
}
SPAN.cft
{
    color: #405EBE;
}
.button_cft
{
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    color: #405EBE;
    font-size: 1.1em;
    padding: 0px;
}

H3, P.H3
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.4em; /*1.2em;*/
    font-weight: normal;
    color: #D40019;
    text-decoration: none;
    padding: 0px;
}
H3.pb
{
    font-weight: bold;
}

H1.hidden, H2.hidden, H3.hidden, DIV.hidden, P.hidden, SPAN.hidden
{
    font-size: 0.0em;
    line-height: 0.0em;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: -10000px;
    top: -10000px; /*visibility: hidden;*/
    width: 1px;
    height: 1px;
    overflow: hidden;
}

TD.tbl
{
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 3px;
    padding-top: 3px;
}
TD.tblH
{
    padding: 6px 6px 6px 6px;
    font-weight: bold;
}
p.tblH
{
    padding: 6px 6px 6px 6px;
    font-weight: bold;
}
TR.c1
{
    background-color: #cadceb;
}
TR.c2
{
    background-color: #eaf1f7;
}

.divt
{
    padding: 0px;
    border-top: 1px solid #cccccc;
}

.divb
{
    padding: 0px;
    border-bottom: 1px solid #cccccc;
}

.div0
{
    padding: 0px;
    border-left: 0px solid #ffffff;
}

.divl
{
    padding: 0px;
    border-left: 1px solid #cccccc;
}

.dotdiv
{
    padding: 0px;
    margin: 9px 0px 9px 0px;
    background-image: url(../images/dotdiv.gif);
}

SELECT
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.0em;
    font-weight: normal;
    color: #000000;
    background-color: #ffffff;
    margin: 2px 0px 2px 0px;
}
SELECT.right
{
    color: #000000;
    background-color: #ffffff;
    text-align: right;
}
OPTION
{
    padding: 0px 2px 1px 2px;
    color: #000000;
    background-color: #ffffff;
}

INPUT
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.0em;
    font-weight: normal;
    color: #000000;
    margin: 2px 0px 2px 0px;
}
INPUT.right
{
    text-align: right;
}


INPUT.btn1
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 1.1em;
    font-weight: bold;
    color: #ffffff;
    background: #366496;
    border-color: #CBE3FF #003366 #003366 #B7CFEB;
    width: auto;
    padding: 0px 4px 0px 4px;
}

INPUT.bodybtn, INPUT.bodybtn-over
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 1.1em;
    font-weight: bold;
    color: #ffffff;
    background-color: #366496;
    border-right: 1px solid #003366;
    border-bottom: 1px solid #003366;
    border-top: 1px solid #CBE3FF;
    border-left: 1px solid #B7CFEB;
    width: auto;
    padding: 2px 1px 3px 1px;
    margin: 0px;
    cursor: pointer;
    outline:dotted 1px #000 !important;
}
INPUT.bodybtn-over
{
    color: #C7D2DC;
    outline:dotted 1px #000 !important;
}
DIV.bodybtn
{
    background-color: #366496;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #CBE3FF;
    border-left: 1px solid #B7CFEB;
    width: auto;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
}
INPUT.navbtn
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 1.1em;
    font-weight: bold;
    color: #ffffff;
    background: #366496;
    border-style: groove;
    border-width: 2px;
    border-color: #96abc0 #001a33 #001a33 #96abc0;
    width: 100px;
    padding: 0px 4px 0px 4px;
}


A
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 1.1em;
    font-weight: normal;
    color: #405EBE;
    text-decoration: underline;
}
A:hover
{
	outline:dotted 1px #000 !important;
}
A.cft, A.cft:visited
{
    font-size: 1.1em;
    line-height: 1.7em;
    color: #405EBE;
    text-decoration: none;
}
A.cft:hover
{
    text-decoration: underline;
    outline:dotted 1px #000 !important;
}
/*
A.hover, A.over
{
	font-family : Verdana, Helvetica, sans-serif;
	font-size : 0.9em;
	line-height : 1.1em;
	font-weight : normal;
    color: #0000FF;
    text-decoration: none;
}
A.visited
{
	font-family : Verdana, Helvetica, sans-serif;
	font-size : 0.9em;
	line-height : 1.1em;
	font-weight : normal;
    color: #651C7E;
    text-decoration: underline;
}
*/
A.g, A.g:visited
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 2.1em;
    font-weight: bold;
    color: #333333;
    background-color: transparent;
    text-decoration: none;
    padding-left:5px;
}
A.g:hover, A.g-over
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 2.1em;
    font-weight: bold;
    color: #BE5A33;
    background-color: transparent;
    text-decoration: none;
    padding-left:5px;
    outline:dotted 1px #000 !important;
}

A.sbtxt, A.sbtxt:visited
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 1.2em;
    font-weight: normal;
    color: #333333;
    text-decoration: none;
    outline:none !important;
}
A.sbtxt:hover, A.sbtxt-over
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 1.2em;
    font-weight: normal;
    color: #BE5A33;
    background-color: transparent;
    text-decoration: none;
    outline:dotted 1px #000 !important;
}

A.p, A.sblnk, SPAN.pl
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.2em;
    font-weight: normal;
    color: #405EBE;
    text-decoration: none;
}
SPAN.pl
{
    text-decoration: none;
}
SPAN.un
{
    text-decoration: underline;
}
SPAN.bd
{
    font-weight: bold;
}
A.p:hover, A.p-over, A.sblnk:hover
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.2em;
    font-weight: normal;
    color: #0000FF;
    text-decoration: underline;
    outline:dotted 1px #000 !important;
}
A.p:visited, A.sblnk:visited
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.2em;
    font-weight: normal;
    color: #651C7E;
    text-decoration: none;
}


A.ip
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.2em;
    font-weight: normal;
    color: #405EBE;
    text-decoration: none;
}
A.ip:hover, A.ip-over
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.2em;
    font-weight: normal;
    color: #0000FF;
    text-decoration: underline;
}
A.ip:visited
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.2em;
    font-weight: normal;
    color: #651C7E;
    text-decoration: none;
}
.plresp
{
    margin: 2px 0px 0px 0px;
}

A.left
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.0em;
    font-weight: normal;
    color: #405EBE;
    text-decoration: underline;
}
A.left:hover, A.left-over
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.0em;
    font-weight: normal;
    color: #0000FF;
    text-decoration: underline;
}
A.left:visited
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.0em;
    font-weight: normal;
    color: #405EBE;
    text-decoration: underline;
}

A.left2, SPAN.left2, H2.left2
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.0em;
    font-weight: bold;
    color: #405EBE;
    background-color: transparent;
    text-decoration: underline;
}
SPAN.left2
{
    text-decoration: none;
}
A.left2:hover, A.left2-over, SPAN.left2-over
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.0em;
    font-weight: bold;
    color: #0000FF;
    background-color: transparent;
    text-decoration: underline;
}
A.left2:visited
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.0em;
    font-weight: bold;
    color: #651C7E;
    background-color: transparent;
    text-decoration: underline;
}

A.ftrlnk
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 1.1em;
    font-weight: normal;
    color: #405EBE;
    text-decoration: none;
}
A.ftrlnk:hover, A.ftrlnk-over
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 1.1em;
    font-weight: normal;
    color: #0000FF;
    text-decoration: underline;
    outline:dotted 1px #000 !important;
}
A.ftrlnk:visited
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 1.1em;
    font-weight: normal;
    color: #651C7E;
    text-decoration: none;
}

.mh-link1, .mh-link2, .mh-link1:visited, .mh-link2:visited
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 0.9em;
    font-weight: bold;
    color: #666666;
    text-decoration: none;
    display: inline;
}
.mh-link2
{
    color: #D4001A;
}
.mh-link1:hover, .mh-link1-over
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 0.9em;
    font-weight: bold;
    color: #5C94D0;
    outline:dotted 1px #000 !important;
}
.mh-link2:hover, .mh-link2-over
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 0.9em;
    font-weight: bold;
    color: #AA051A;
    outline:dotted 1px #000 !important;
}

.mh-hline
{
    background-color: #ECECEC;
    background-image: url(../images/mhd_reg_5x1_lines.gif);
    background-repeat: repeat-x;
}
.mh-vline
{
    background-color: #ECECEC;
    background-image: url(../images/mhd_reg_1x5_lines.gif);
    background-repeat: repeat-y;
}
.mh-hline-bkg
{
    background: #ECECEC;
}
.ada-search
{
    color: #ececec;
    background: #ececec;
    font: normal 0.0em/0.0em Verdana, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    visibility: hidden;
}
.ada-label
{
    color: #ececec;
    font: normal 0.0em/0.0em Verdana, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    display: none;
}
.ada-hide
{
    color: #ececec;
    font: normal 0.0em/0.0em Verdana, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: -10000px;
    top: -10000px;
}

a.btn1, a.btn1:visited, a.btn1:active
{
    font: normal 0.9em/1.2em Verdana, Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: none;
}
a.btn1:hover, a.btn1-over
{
    font: normal 0.9em/1.2em Verdana, Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: underline;
}
div.btn1
{
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-top: 2px solid #CBE3FF;
    border-left: 2px solid #B7CFEB;
    padding: 1px 4px 2px 4px;
    background-color: #366496;
}
.searchbox
{
    font-size: 1.6ex;
    border-style: inset;
    border-bottom: none;
    width: 100%;
    margin: 0px;
}
.linksep1
{
    font-size: 0.5em;
    color: #666666;
    border: 0px;
    margin: 0px;
}

.auraltext, .show-tab
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.8em;
    line-height: 1.0em;
    font-weight: normal;
    color: #405ebe;
    left: 0px;
    top: 0px;
    position: relative;
}

span.auraltext, a.hlink, .hide-tab
{
    font-size: 0px;
    left: -10000px;
    top: -10000px;
    position: absolute;
}

INPUT.btnlink
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.1em;
    font-weight: normal;
    font-weight: normal;
    cursor: pointer;
    border-right: medium none;
    border-top: medium none;
    border-left: medium none;
    border-bottom: medium none;
    color: #405EBE;
    background-color: transparent;
    text-align: left;
    text-decoration: underline;
}



DIV#lnav
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 160px;
    z-index: 1000;
    background: Silver;
    text-align: left;
}

DIV#lnav ul, DIV#lnav div
{
    margin: 0px;
    padding: 0px;
    z-index: 0;
}
DIV#lnav ul
{
    list-style: none;
    margin: 0px 0px 0px 0px;
    background: Teal;
}
DIV#lnav li
{
    margin: 0px;
    padding: 5px 0px 5px 0px;
    text-align: left;
    background: #cadceb;
    border-bottom: 1px solid #ffffff;
    width: 160px;
}
DIV#lnav li.home, DIV#lnav li.home ul.home li.home
{
    padding-bottom: 0px;
    background: #eaf1f7;
}


DIV#lnav li ul
{
    position: absolute;
    left: -999em;
    margin: 0px;
    border: 1px solid #7F99B2;
    border-bottom: none;
}
DIV#lnav li ul.home, DIV#lnav li:hover ul.home, DIV#lnav li.fover ul.home
{
    position: relative;
    left: 0px;
    top: 0px;
    margin: 5px 0px 0px -6px;
    border: none;
}
DIV#lnav li:hover ul, DIV#lnav li.fover ul
{
    left: 155px;
    margin: 0px;
    z-index: 1001;
}
DIV#lnav li:hover ul#jaaot, DIV#lnav li.fover ul#jaaot
{
    visibility: hidden;
    top: 45px;
}
DIV#lnav li:hover ul#lob, DIV#lnav li.fover ul#lob
{
    visibility: hidden;
    top: 68px;
}
DIV#lnav li:hover ul#camp, DIV#lnav li.fover ul#camp
{
    visibility: hidden;
    top: 91px;
}
DIV#lnav li:hover ul#relinfo, DIV#lnav li.fover ul#relinfo
{
    visibility: hidden;
    top: 114px;
}
DIV#lnav li:hover ul#glc, DIV#lnav li.fover ul#glc
{
    visibility: hidden;
    top: 160px;
}

DIV#lnav ul li ul li
{
    margin: 0px;
    padding: 5px 0px 5px 0px;
    text-align: left;
    background: #cadceb;
    border-top: none;
    border-bottom: 1px solid #7F99B2;
    width: 160px;
}
DIV#lnav ul li ul li.jaaotlili
{
    width: 160px;
}

DIV#lnav ul li ul li.loblili
{
    width: 160px;
}

DIV#lnav ul li ul li.relinfolili
{
    width: 160px;
}


DIV#lnav ul li ul.home li
{
    margin: 0px;
    padding: 5px 0px 5px 0px;
    text-align: left;
    background: #cadceb;
    border-top: 1px solid #ffffff;
    border-bottom: none;
    width: 160px;
}
DIV#lnav ul li ul.home li.jaaotlili
{
    width: 160px;
}

DIV#lnav ul li ul.home li.loblili
{
    width: 160px;
}

DIV#lnav ul li ul.home li.relinfolili
{
    width: 160px;
}


DIV#lnav li a.g, DIV#lnav li a.g-over
{
    line-height: 1.2em;
    padding: 0px 0px 0px 0px;
}
DIV#lnav ul li div
{
    padding: 0px 6px 0px 6px;
}
DIV#lnav ul li div ul.home li div
{
    padding: 0px 6px 0px 12px;
}
DIV#lnav ul.home div ul li div
{
    padding: 0px 0px 0px 12px;
}

DIV#lnav li ul.home li.tertiary, DIV#lnav li:hover ul.home li.tertiary, DIV#lnav li.fover ul.home li.tertiary
{
    position: inherit;
    left: 0px;
    top: 0px;
    margin: 0px 0px 0px 0px;
    border-top: 1px solid #ffffff;
    border-bottom: none;
}
DIV#lnav li ul.home li.tertiary div
{
    padding: 0px 6px 0px 18px;
}

DIV#lnav li ul.home li.quaternary, DIV#lnav li:hover ul.home li.quaternary, DIV#lnav li.fover ul.home li.quaternary
{
    position: inherit;
    left: 0px;
    top: 0px;
    margin: 0px 0px 0px 0px;
    border-top: 1px solid #ffffff;
    border-bottom: none;
}
DIV#lnav li ul.home li.quaternary div
{
    padding: 0px 0px 0px 24px;
}

P.step
{
    width: 400px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    float: right;
}
.middot
{
    font-size: 2.0em;
    line-height: 0.1em;
}
/*
ul.pr {padding-left: 0.08in; margin-left: 0.25in;}
ul.prp {padding-left: 0.08in; margin-left: 0.25in; margin-top: 2px;}
ul.pr li, ul.prp li {padding-left: 0.04in;}
*/
ul.prp
{
    margin-top: 0px;
}

/* BAC STYLES */
h1.bac
{
    margin: 0px 0px 10px 0px;
    padding: 0px;
}
h2.bac, h2.bacs, h2.bacg, h2.bach, h3.bac, h3.bacs, h3.bacg, h4.bac
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.0em;
    font-weight: bold;
    color: #333333;
    background-color: transparent;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
h3.bac
{
	line-height : 1.2em;
}
h2.bach
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.25em;
    line-height: 1.2em;
}
p.bac, p.bacb
{
    margin: 12px 0px 0px 0px;
}
p.bacb
{
    font-weight: bold;
}
h2.bacs, h2.bacg, h3.bacs, h3.bacg, p.bacs, p.bacg
{
    margin: 15px 0px 0px 0px;
}
h2.bacg, h3.bacg, p.bacg
{
    display: inline;
    margin: 0px;
}
.smaler
{
    font-size: 0.9em;
}
ul.bac, ol.bac
{
    margin-top: 12px;
    margin-bottom: 0px;
}
ol.bac li
{
    padding-bottom: 0px;
}
ul.bacp
{
    margin-top: 12px;
    margin-bottom: 0px;
}
img.bac
{
    width: 100%;
    height: 1px;
    border-top: 1px dotted #e8e8e9;
    margin: 15px 0px 14px 0px; /*background: #e8e8e9;*/
}
img.h
{
    cursor: pointer;
}
div.innerTab
{
    padding: 18px 12px 12px 12px;
}

A.bac, A.bacb
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.0em;
    font-weight: normal;
    color: #405EBE;
    text-decoration: none;
}
A.bac:hover, A.bac-over, A.bacb:hover, A.bacb-over
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.0em;
    font-weight: normal;
    color: #0000FF;
    text-decoration: underline;
}
A.bac:visited, A.bacb:visited
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.0em;
    font-weight: normal;
    color: #651C7E;
    text-decoration: none;
}

A.bacb, A.bacb:hover, A.bacb-over, A.bacb:visited
{
    font-weight: bold;
}

label.bac
{
    font-weight: normal;
}

H2.green
{
	color: #6da146;
}

.leftnav_sub
{
	margin-top:-17px !important;
}
/* For IE6 Only */
*HTML .leftnav_sub
{
	margin-top:-7px !important;
} 
.leftnav_sub2
{
	margin-top:-30px !important;
}
/* For IE6 Only */
*HTML .leftnav_sub2
{
	margin-top:-19px !important;
}

.franch_btn{
	background-image:url(../images/franch_btn.gif);
	background-repeat:no-repeat;
	background-position:top left;
	width:95px;
	height:25px;
}
.franch_btn a, .franch_btn-hover{
	font:12px Arial, Helvetica, sans-serif !important;
	font-weight:bold !important;
	letter-spacing:1px !important;
	color:#FFF !important;
	line-height:23px !important;
	padding-right:5px;
	text-decoration:none;
	outline:none;
}
.franch_btn a:hover, .franch_btn-over{
	font:12px Arial, Helvetica, sans-serif !important;
	font-weight:bold !important;
	letter-spacing:1px !important;
	color:#FFF !important;
	line-height:23px !important;
	padding-right:5px;
	text-decoration:none;
	outline:dotted 1px #000 !important;
}
.english_btn{
	background-image:url(../images/english_btn.gif);
	background-repeat:no-repeat;
	background-position:top left;
	width:85px;
	height:25px;
}
.english_btn a, .english_btn-hover{
	font:12px Arial, Helvetica, sans-serif !important;
	font-weight:bold !important;
	letter-spacing:1px !important;
	color:#FFF !important;
	line-height:23px !important;
	padding-right:5px;
	text-decoration:none;
	outline:none;
}
.english_btn a:hover, .english_btn-over{
	font:12px Arial, Helvetica, sans-serif !important;
	font-weight:bold !important;
	letter-spacing:1px !important;
	color:#FFF !important;
	line-height:23px !important;
	padding-right:5px;
	text-decoration:none;
	outline:dotted 1px #000 !important;
}


.job_list_new
{
	padding: 5px 0px 0px 4px;
}
.job_list_new a
{
	outline:none;
}
.job_list_new a:hover
{
	outline:dotted 1px #000 !important;
}

.ada2adalink
{
    text-decoration: none;
    font-size:1em;
}
A.ada2adalink, A.ada2adalink:visited
{
    text-decoration: none;
    outline:none;
}
A.ada2adalink:hover, A.ada2adalink-over
{
    text-decoration: underline;
    color:Blue;
    outline:dotted 1px #000 !important;
    font-size:1em;
}

.aspblue_link
{
    text-decoration: underline;
    font-size:1em;
}
A.aspblue_link, A.aspblue_link:visited
{
    text-decoration: underline;
    outline:none;
}
A.aspblue_link:hover, A.aspblue_link-over
{
    text-decoration: underline;
    color:Blue;
    outline:dotted 1px #000 !important;
    font-size:1em;
}

#ul
{
 list-style-type:none
}

TABLE#cntr
{
	position : relative;
}
TABLE#cntr TH
{
}
TABLE#cntr TD
{
	border : solid 1px #a0a6a6;
	background-color : #f4f4f4;
}
TABLE#cntr TD.spacer
{
	border : none;
	background-color : transparent;
}
TABLE#cntr TD H2
{
	color: #ffffff;
	background-color : #D40019;;
	text-align: center;
	font-size: 1.0em;
	line-height: 1.4em; 
	padding : 0.6em 12px 0.6em 12px;
	margin: 0px;
}
TABLE#cntr UL
{
	list-style-image : none;
	list-style-type : none;
	list-style-position : inside;
	margin-left : 0px;
	padding-left : 0px;
}
TABLE#cntr LI
{
	list-style-image : none;
	list-style-type : none;
	list-style-position : outside;
	padding-left : 12px;
}

#help
{
	position : absolute;
	display : none;
	width : 0px;
	height : 0px;
	left : -10000px;
	top : -10000px;
	z-index : 1002;
	border : 1px solid #000000;
}
table#chelp h1
{
	color : #ffffff;
	font : bold 12px/14px Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding : 0px 15px;
	margin : 0px;
}
table#chelp div.wrap
{
	margin : 12px 15px 0px 15px;
}
table#chelp a:link,
table#chelp a:active,
table#chelp a:visited
{
	color : #ffffff;
	font : normal 9px/10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin : 0px 15px;
	padding : 0px;
	text-decoration : none;
}
table#chelp a:hover
{
	text-decoration : underline;
}
table#chelp p, ul
{
	color : #333333;
	font : normal 11px/14px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.supth
{
	font-size: 50%;
	position: relative;
	top: -2px;
}

a.ha div.adiv
{
	position: absolute;
}
a.ha div.rdiv
{
	display: block;
	position: relative;
	left: -2px;
	top: -2px; 
	border: 2px solid transparent;
}
a.ha div.rhdiv
{
	border: 2px solid #f1ca7f;/*border: 2px solid #c49d51;*/
}

.clear
{
	clear: both;
	float: none;
}
.cmpp
{
	display: block;
	width: 578px;
}
.cmpl
{
	display: block;
	width: 378px;
	float: left;
}
.cmpr
{
	display: block;
	width: 180px;
	float: right;
	text-align: left;
	padding-top: 10px;
}

.prg
{
	background: #ebebeb;
}
.prg1
{
	background: url(../images/layout/g.gif) repeat-x top;
}
.prg2
{
	background: url(../images/layout/g.gif) repeat-x bottom;
}
.prg3
{
	background: url(../images/layout/g.gif) repeat-y left;
}
.prg4
{
	background: url(../images/layout/g.gif) repeat-y right;
}
.prg5
{
	background: url(../images/layout/tl.gif) no-repeat top left;
}
.prg6
{
	background: url(../images/layout/tr.gif) no-repeat top right;
}
.prg7
{
	background: url(../images/layout/bl.gif) no-repeat bottom left;
}
.prg8
{
	background: url(../images/layout/br.gif) no-repeat bottom right;
	padding: 0px 0px 10px 0px;
}
.prgw
{
	margin: 10px 10px 0px 10px;
	padding: 0px 0px 0px 0px;
}
.prg h1.bac
{
	padding: 23px 12px 8px 0px;
}
.prg h2.bac
{
	background: #e1dfe0;
	font: bold 11px/12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #5c5c5c;
	padding: 11px 12px 10px 0px;
	border-bottom: 1px solid #ffffff;
}
.prg h2.last
{
	border-bottom: none;
}
.prg h3.bac, .prg p.nobr
{
	margin-top: 12px;
	margin-bottom: -9px;
}
img.popen,
img.pclose
{
	background: url(../images/layout/open.gif) no-repeat top left;
	width: 19px;
	height: 17px;
	border: 0;
	margin: 0px 4px 0px 7px;
	vertical-align: middle;
	cursor: pointer;
}
img.pclose
{
	background: url(../images/layout/close.gif) no-repeat top left;
}
div.expand,
div.expanded
{
	background: #ffffff;
	margin: 0px;
}
div.expand div,
div.expanded div
{
	padding: 6px 20px 20px 30px;
	display: none;
}
div.expanded div
{
	display: block;
}

div.cmpr div.vwrap
{
	display: block;
	width: 100%;
	text-align: center;
	margin : 6px 0px 0px 0px;
	padding : 0px;
}
div.cmpr div.awrap
{
	display: block;
	margin : 6px 0px 0px 0px;
	padding : 0px;
}
div.cmpr a,
div.cmpr a:link,
div.cmpr a:active,
div.cmpr a:visited
{
	color : #3366cc;
	font : normal 9px/11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
}
div.cmpr a:hover, div.cmpr a.over
{
	color: #0000FF;
	text-decoration : underline;
}
div.relnw
{
	background: url(../images/layout/relnavbg.gif) repeat-y top left;
	width: 180px;
	border: 0;
	margin: 12px 0px 0px 0px;
}
div.relnt
{
	background: url(../images/layout/relnavt.gif) no-repeat top left;
	width: 180px;
	border: 0;
	margin: 0px 0px 0px 0px;
}
div.relnb
{
	background: url(../images/layout/relnavb.gif) no-repeat bottom left;
	width: 180px;
	border: 0;
	margin: 0px 0px 0px 0px;
}
div.relnw div.inner
{
	margin: 0px 10px 0px 10px;
	padding: 8px 0px 20px 0px;
}
div.relnw h2
{
	color : #ffffff;
	font : bold 9px/11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
	margin: 0px 0px 15px 0px;
	padding: 0px;
}

div.rnw
{
	background: url(../images/layout/rnavbg.gif) repeat-y top left;
	width: 180px;
	border: 0;
	margin: 12px 0px 0px 0px;
}
div.rnt
{
	background: url(../images/layout/rnavt.gif) no-repeat top left;
	width: 180px;
	border: 0;
	margin: 0px 0px 0px 0px;
}
div.rnb
{
	background: url(../images/layout/rnavb.gif) no-repeat bottom left;
	width: 180px;
	border: 0;
	margin: 0px 0px 0px 0px;
}
div.rnw div.inner
{
	margin: 0px 12px 0px 12px;
	padding: 12px 0px 12px 0px;
}
div.rnw h2
{
	color : #5c5c5c;
	font : normal 9px/11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
	margin: 0px 0px 9px 0px;
	padding: 0px;
}
div.cmpr div.iwrap
{
	display: block;
	height: 14px;
	margin : 4px 0px 0px 0px;
	padding: 2px 0px 0px 24px;
}
div.cmpr div.in
{
	background: url(../images/buttons/iLinkedIn.gif) no-repeat top left;
}
div.cmpr div.if
{
	background: url(../images/buttons/iFacebook.gif) no-repeat top left;
}
div.cmpr div.it
{
	background: url(../images/buttons/iTwitter.gif) no-repeat top left;
}
div.cmpr div.rnw a,
div.cmpr div.rnw a:link,
div.cmpr div.rnw a:active,
div.cmpr div.rnw a:visited
{
	color : #5c5c5c;
	font : bold 9px/11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding: 0px 0px 0px 0px;
}
div.cmpr div.rnw a:hover, div.cmpr div.rnw a.over
{
	color: #333333;
	text-decoration : underline;
}
.ncamp
{
	background: url(../images/layout/campn.gif) no-repeat bottom left;
	padding-bottom: 200px;
}
.omwrap
{
	position: relative;
	display: block;
	width: 566px;
	height: 26px;
}
.oppmot
{
	position: absolute;
	bottom: -200px;
	width: 566px;
	height: 133px;
	margin: 0px 0px 0px 0px;
	/*background: url(../images/layout/campn.gif) no-repeat bottom left;*/
}
.normal
{
	font-weight: normal;
}
ul.nobull
{
    list-style-image: none;
}
a.proimg
{
	display: block;
	margin: 0px 0px 12px 0px;
}
img.proimg
{
	margin: 0px 0px 0px 0px;
}



#simplemodal-overlay {background-color: #fff; cursor: wait;}
#simplemodal-container {height: auto; width: 507px; color: #333333; background-color: transparent; border: none; padding: 0px; overflow: visible;}
#simplemodal-container .simplemodal-data {padding: 0px;}

#simplemodal-container a.modalCloseImg {background:url(../img/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}

#modal-dialog
{
	/*position: fixed;
	left: 160px;
	top: 99px;*/
	display: none;
	width: 507px;
	background: #888888 url(../images/layout/vtl.gif) no-repeat top left;
	z-index: 1020;
}
#modal-dialog .w1
{
	background: url(../images/layout/vtr.gif) no-repeat top right;
}
#modal-dialog .w2
{
	background: url(../images/layout/vbl.gif) no-repeat bottom left;
}
#modal-dialog .w3
{
	background: url(../images/layout/vbr.gif) no-repeat bottom right;
	padding: 6px 6px 6px 6px;
}
#modal-dialog #mdvideo
{
	display: none;
	width: 495px;
	height: 388px;
	margin: 0px 0px 0px 0px;
}

#mdvideo .mdv-top
{
	display: block;
	width: 495px;
	height: 59px;
}
#mdvideo .mdv-head
{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
#mdvideo .mdv-head h3,
#mdvideo .mdv-head p
{
	color: #fff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
#mdvideo .mdv-head p
{
	margin-top: 3px;
	font-size: 10px;
	line-height: 12px;
}
#mdvideo .mdv-info
{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	text-align: right;
}
#mdvideo .mdv-close
{
	float: right;
	margin-top: 0px;
	margin-right: 0px;
}
#mdvideo .mdv-close a
{
	float: right;
}
#mdvideo .mdv-title
{
	float: right;
	margin-top: 3px;
	margin-right: 0px;
}
#mdvideo .mdv-title p
{
	margin-top: 3px;
	color: #fff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	line-height: 12px;
	float: right;
}
#mdvideo .mdv-close a
{
	display: block;
	width: 18px;
	height: 18px;
	background: url(../images/buttons/close.gif) no-repeat top left;
}
#mdvideo .mdv-content
{
	width: 495px;
	height: 305px;
	background-color: #ffffff;
}
#mdvideo .mdv-bottom
{
	margin-top: 7px;
	text-align: center;
}
#mdvideo .mdv-bottom a,
#mdvideo .mdv-bottom a:link,
#mdvideo .mdv-bottom a:active,
#mdvideo .mdv-bottom a:hover
{
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	text-decoration: none;
}
#mdvideo .mdv-bottom a:hover
{
	text-decoration: underline;
}
.clearall{float: none; clear: both;}



#modal-dialog #mdtrans
{
	display: none;
	width: 688px;
	margin: 0px 0px 0px 0px;
}
#mdtrans .mdv-top
{
	display: block;
	width: 100%;/*width: 688px;*/
	height: 24px;
	background-color: #D40019;
}
#mdtrans .mdv-head
{
	float: left;
	margin-top: 4px;
	margin-left: 10px;
}
#mdtrans .mdv-head p
{
	color: #fff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
#mdtrans .mdv-close
{
	float: right;
	margin-top: 5px;
	margin-right: 10px;
}
#mdtrans .mdv-close a,
#mdtrans .mdv-close a:link,
#mdtrans .mdv-close a:active,
#mdtrans .mdv-close a:hover
{
	font-size: 10px;
	font-weight: bold;
	line-height: 12px;
	color: #fff;
	text-decoration: none;
}
#mdtrans .mdv-close a:hover
{
	text-decoration: underline;
}
#mdtrans .mdv-line
{
	display: block;
	width: 100%;
	height: 6px;
	padding: 0px;
	font-size: 0px;
	background-color: #cbcbcb;
}
#mdtrans .mdv-content
{
	width: 95%;/*width: 664px;*/
	height: auto;
	padding: 12px;
	background-color: #ffffff;
	color: #333333;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
}
