/* 
	Bank of America - Default Stylesheet
	Author:  Deborah Foerst, UI Developer <debbie.foerst@tmp.com>
	Company: TMP Worldwide Advertising and Communications, LLC
*/



@media screen, projection {

	
.video-modal img {

filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(...);

}

 
	
	
	
	

}
